.tapbar {
  margin: 0;
  padding: 0;
  min-height: 100%;
  position: relative;
}
header.header {
  width: 100%;
  padding: 10px 5%;
  display: block;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 100px;
  }
.my_flex {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.name_flex {
  color: #100836;
  font-size: 1.50em;
  font-weight: 400;
  font-family: 'Saurce Sans Pro',sans-serif;
}
.link_flex {
  font-size: 1.00em;
  font-weight: 400;
  height: fit-content;
  align-self: flex-end;
}
.link_flex a {
  color: dimgray;
  text-decoration: none;
  font-family: 'Saurce Sans Pro',sans-serif;
}

/* Animasi text-focus-in
-------------------------------------*/
.name_flex, .link_flex {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both; 	      
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
 0% {
  -webkit-filter: blur(12px);
  filter: blur(12px); opacity: 0;
  }
100% { 
  -webkit-filter: blur(0px); 
  filter: blur(0px); 
  opacity: 1; 
  } 
} 
@keyframes text-focus-in {
 0% { 
  -webkit-filter: blur(12px);
  filter: blur(12px);
  opacity: 0;
  }
100% { -webkit-filter: blur(0px);
  filter: blur(0px);
  opacity: 1; 
  }
}
